.aboutMe{
    padding-top: 3%;
    background-color: #E3E3E3;
    width: 100%;
    color: #383838;
    display: flex;
    flex-direction: column;
    position: relative;

    .short_text{
        display: none;
    }

    #radio_img{
        width: 121px;
    }

    >p{
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 2px;
        color: dimgray;
        padding-bottom: 3%;
    }

    // .header{
    //     display: flex;
    //     padding: 12px 9% 18px 9%;
    //     align-items: flex-end;
    //     justify-content: center;
    //     p {
    //         font-size: 1.4em;
    //         margin: 0;
    //         font-weight: 300;
    //     }
    
    //     div:nth-of-type(1) {
    //         width: 60%;
    //     }
    
    //     img {
    //         width: 90%;
    //     }
    // }
    
    .footer{
        padding: 0px 12%;
        background-color: #2D0D22;
        color: white;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        height: 75px;
        margin-bottom: 0;
        font-size: 15px;
        letter-spacing: 2px;

        li{
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                width: 1.7em;
                margin-right: 7px
            }

            a{
                text-decoration: none;
                color: white;
            }
        }

        
    }
    
}

@media only screen and (max-width: 800px) {
    .aboutMe{
        p {
            margin-bottom: 0;
        }
        .header{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .aboutMe{
        .short_text{
            display: inline-block;
        }
        .long_text{
            display: none;
        }
        p {
            font-size: 1.3em;
        }
        .header{
            img{
                width: 100%;
                height: 100%;
            }
        }
        .footer{
            li{
                font-size: 0.8em;
                img{
                    width: 2em
                }
            }
        }
    }
}
